In [ ]:
SELECT * FROM CITY WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA';

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION > 120000;

In [ ]:
SELECT * FROM CITY;

In [ ]:
SELECT * FROM CITY WHERE ID = 1661;

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE = 'JPN';

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'JPN';

In [ ]:
SELECT CITY, STATE FROM STATION;

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE (ID%2 = '0');

In [ ]:
SELECT (COUNT(CITY)-COUNT(DISTINCT(CITY))) FROM STATION;

In [ ]:
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) DESC, CITY ASC LIMIT 1;
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) ASC, CITY ASC LIMIT 1;

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE CITY LIKE 'a%' OR CITY LIKE'e%' OR CITY LIKE 'i%' OR CITY LIKE 'o%' OR CITY LIKE 'u%';

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE CITY LIKE '%a' OR CITY LIKE '%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u';

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) in ('a','e','i','o','u') and right(city,1) in ('a','e','i','o','u');

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE NOT (CITY LIKE 'a%' OR CITY LIKE'e%' OR CITY LIKE 'i%' OR CITY LIKE 'o%' OR CITY LIKE 'u%');

In [ ]:
#10
SELECT DISTINCT CITY FROM STATION WHERE NOT (CITY LIKE '%a' OR CITY LIKE'%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u');

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) not in ('a','e','i','o','u') or right(city,1) not in ('a','e','i','o','u');

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) not in ('a','e','i','o','u') and right(city,1) not in ('a','e','i','o','u');

In [ ]:
SELECT NAME FROM STUDENTS WHERE MARKS>75 ORDER BY right(NAME,3), ID asc;

In [ ]:
SELECT name from Employee order by name;

In [ ]:
select name from Employee where salary>2000 and months<10 order by employee_id asc;

In [ ]:
SELECT SUM(CIT.POPULATION)AS TOTAL_POP FROM CITY CIT JOIN COUNTRY CNT ON CIT.CountryCode=CNT.Code WHERE CONTINENT='ASIA';

In [ ]:
SELECT CIT.NAME FROM CITY CIT JOIN COUNTRY CNT ON CIT.CountryCode = CNT.Code WHERE CNT.CONTINENT = 'Africa';

In [ ]:
#average population of each continent
ECT CNT.CONTINENT AS CON, AVG(CIT.POPULATION) AS AVERAGE_POP FROM COUNTRY CNT JOIN CITY CIT ON CIT.CountryCode=CNT.Code GROUP BY CNT.CONTINENT;

In [ ]:
SELECT CASE             
            WHEN A + B > C AND B + C > A AND A + C > B THEN
                CASE 
                    WHEN A = B AND B = C THEN 'Equilateral'
                    WHEN A = B OR B = C OR A = C THEN 'Isosceles'
                    ELSE 'Scalene'
                END
            ELSE 'Not A Triangle'
        END
FROM TRIANGLES;

In [ ]:
SELECT COUNT(NAME) FROM CITY WHERE POPULATION>100000;

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE DISTRICT='California';

In [ ]:
SELECT AVG(POPULATION) FROM CITY WHERE DISTRICT='California';

In [ ]:
SELECT AVG(POPULATION) FROM CITY;

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE COUNTRYCODE='JPN';

In [ ]:
SELECT MAX(POPULATION) - MIN(POPULATION) FROM CITY;

In [ ]:
SELECT CEIL(AVG(Salary)-AVG(REPLACE(Salary,'0',''))) FROM EMPLOYEES;

In [ ]:
Select max(salary*months), count(salary*months) from Employee where salary*months in (select max(salary*months) from Employee);

In [ ]:
SELECT ROUND(SUM(LAT_N),2) AS LAT, ROUND(SUM(LONG_W),2) AS LON FROM STATION;

In [ ]:
SELECT ROUND(SUM(LAT_N),4) FROM STATION WHERE LAT_N>38.7880 AND LAT_N<137.2345;