In [ ]:
SELECT * FROM CITY WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA';

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION > 120000;

In [ ]:
SELECT * FROM CITY;

In [ ]:
SELECT * FROM CITY WHERE ID = 1661;

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE = 'JPN';

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'JPN';

In [ ]:
SELECT CITY, STATE FROM STATION;

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE (ID%2 = '0');

In [ ]:
SELECT (COUNT(CITY)-COUNT(DISTINCT(CITY))) FROM STATION;

In [ ]:
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) DESC, CITY ASC LIMIT 1;
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) ASC, CITY ASC LIMIT 1;

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE CITY LIKE 'a%' OR CITY LIKE'e%' OR CITY LIKE 'i%' OR CITY LIKE 'o%' OR CITY LIKE 'u%';

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE CITY LIKE '%a' OR CITY LIKE '%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u';

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) in ('a','e','i','o','u') and right(city,1) in ('a','e','i','o','u');

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE NOT (CITY LIKE 'a%' OR CITY LIKE'e%' OR CITY LIKE 'i%' OR CITY LIKE 'o%' OR CITY LIKE 'u%');

In [ ]:
#10
SELECT DISTINCT CITY FROM STATION WHERE NOT (CITY LIKE '%a' OR CITY LIKE'%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u');

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) not in ('a','e','i','o','u') or right(city,1) not in ('a','e','i','o','u');

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) not in ('a','e','i','o','u') and right(city,1) not in ('a','e','i','o','u');