In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE = 'JPN';