In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE = 'JPN';

In [ ]:
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) DESC, CITY ASC LIMIT 1;
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) ASC, CITY ASC LIMIT 1;

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) in ('a','e','i','o','u') and right(city,1) in ('a','e','i','o','u');

In [ ]:
SELECT NAME FROM STUDENTS WHERE MARKS>75 ORDER BY right(NAME,3), ID asc;

In [ ]:
SELECT AVG(POPULATION) FROM CITY WHERE DISTRICT='California';

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE (ID%2 = '0');

In [ ]:
Select max(salary*months), count(salary*months) from Employee where salary*months in (select max(salary*months) from Employee);

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE COUNTRYCODE='JPN';

In [ ]:
SELECT CITY, STATE FROM STATION;

In [ ]:
SELECT distinct CITY FROM STATION where left(city,1) not in ('a','e','i','o','u') and right(city,1) not in ('a','e','i','o','u');

In [ ]:
SELECT * FROM CITY WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA';

In [ ]:
SELECT COUNT(NAME) FROM CITY WHERE POPULATION>100000;

In [ ]:
SELECT CEIL(AVG(Salary)-AVG(REPLACE(Salary,'0',''))) FROM EMPLOYEES;

In [ ]:
SELECT ROUND(MIN(LAT_N),4) FROM STATION WHERE LAT_N>38.7780;

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION > 120000;

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE NOT (CITY LIKE '%a' OR CITY LIKE'%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u');

In [ ]:
SELECT * FROM CITY WHERE ID = 1661;